h2 { font-size: 66px; font-weight: 700; line-height: 80px; opacity: 1; font-family: 'Playfair Display', serif;}

.hero-content {
    max-width: 500px;
    margin: auto;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    color: black;
    justify-content: center;
    padding-bottom: 10px;
}

.hero-container{
    background: url(../HeroSection/portada.jpg) center center/cover no-repeat;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    /*padding-top: 90px;*/
}

.hero-btns {
    margin-top: 20px;

}

.hero-btns .btn {
    margin: 6px;
    background-color: black;
    border-radius: 10px;
    font-family: 'Petrona', serif;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}



@media screen and (max-width: 960px){
    .hero-content{
        max-width: 300px;
        justify-content: center;

    }
    .hero-container{
        height: 600px;
    }
}

@media screen and (min-width: 1500px){
    .hero-content {
        max-width: 500px;
        background: rgba(255, 255, 255, 0.4);
        margin:auto;

    }
    .hero-content h2 {
        font-size: 80px;

    }
    .hero-container{
        min-height: 800px;
    }
}


@media screen and (max-width: 960px) {
    .hero-content {
        max-width: 500px;
        background: rgba(255, 255, 255, 0.4);
        margin-top: auto;
        height: 500px;
    }

    .hero-content h2 {
        font-size: 40px;

    }
    .hero-btns {
        width: 50%;
        text-align: center;
        margin: auto;
    }
    .hero-btns .btn {
        display: block;
        text-decoration: none;
        font-size: 15px;
        padding: 17px 34px;
    }

}

@media screen and (max-width: 768px) {
    .hero-content {
        max-width: 500px;
        background: rgba(255, 255, 255, 0.4);
        justify-content: center;
        margin-top: 100px;
    }

    .hero-content h2 {
        font-size: 40px;

    }
    .hero-container{
        height: 400px;
    }


}

@media screen and (max-width: 400px){
    .hero-content {
        max-width: 400px;
        background: rgba(255, 255, 255, 0.4);
        justify-content: center;
        margin-top: 150px;
    }
    .hero-container{
        height: 400px;
    }

}


