.product{
    padding-left: 25px;
    padding-right: .21429rem;
    text-align: center;
}
.product .imagen{
    display: flex;
    width: auto;
    text-align: center;
    align-content: center;
    justify-content: center;

}
.product .imagen img{
    min-width: 350px;
    max-width: 350px;
    min-height: 350px;
    max-height: 350px;
    object-fit: contain;
}
.productBrand{

    display: inline;
    text-align: right;
}


.productInfo{
    /*height: 100px;
    /*margin-bottom: 15px;*/
}
.productInfo h1{
    font-family: "Nunito Sans",sans-serif;
    font-size: .88571rem;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05em;
    /*line-height: 1.5;*/
}


.productPrice{
    /*margin-top: 5px;*/
    font-family: "Nunito Sans",sans-serif;
    font-size: .88571rem;
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1.5;
    opacity:50%;
}

.product > button{
    background-color: #ca1515;
    border: 1px solid;
}