.listaItems{
    margin-left: 70px;
    text-decoration: none;
    list-style: none;
}

.firstColumn{
    padding: 20px;
}
.listaItems a{
    text-decoration: none;
    color: #616464;
    font-family: 'Open Sans', sans-serif;

}

.listaItems a:hover{
    color: black;
    transition: all 0.2s ease-out;
}

.secondColumn{
    font-size: 15px;
    text-decoration: none;

    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;

}
.secondColumn h4{
    font-weight: 200;
    letter-spacing: normal;
}
.secondColumn #id{
    justify-content: center;
}

.item2 img{
    max-width: 100%;
    height: auto;

}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}